.chatHeader{
    background-color: rgb(219, 219, 219);
    height: 13%;
    width: 99.9%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chatName{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.chatManageHeader{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.chatManagers{
    display: flex;
    overflow: hidden;
    width: 50%;
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.HedaerUser{
    cursor: pointer;
    margin: 0px 5px 0px 5px;
}
.HedaerUser:hover{
    background-color: rgb(240, 238, 238);
}

.chatMembers{
    width: 35%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}





